h1 {
  text-align: center;
  color: white;
}
.App {
  padding: 10px;
  height: 100vh;
  background-color: rgb(35, 89, 55);
  object-fit: contain;
}
body {
  background-color: rgb(35, 89, 55);
}
/* .Search {
  float: right;
  padding: 6px;
  border: 1px solid black;
  font-size: 17px;
}
input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
} */
