body {
  background-color: rgb(35, 89, 55);
}
.login div {
  padding: 30px;
}
.container1 {
  margin: auto;
  margin-top: 10%;
  width: fit-content;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgb(205, 219, 205);
  align-items: center;
  background-color: honeydew;
}
h3 {
  text-align: center;
  padding: 20px;
  align-items: center;
}
.login Button {
  color: #eff2f5;
  align-items: center;
  text-align: center;
  border: 1px solid #c6cacf;
  background-color: #2e81f4;
}

.login Button:hover {
  background-color: white;
  color: #2e81f4;
}
