.NavBar {
  position: fixed;
  top: 100px;
  border: 1px solid black;
  background-color: honeydew;
  height: 50vh;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
a {
  text-decoration: none;
}

.nav_item {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
