body {
  font-family: Arial;
  padding: 20px;
  background-color: rgb(35, 89, 55);
}
.post {
  border-radius: 10px;
  background-color: #ddd;
  margin: auto;
  margin-left: 250px;
  align-items: center;
  height: max-content;
  border: 1px solid black;
  padding: 10px;
  padding-left: 10px;
  margin-top: 40px;
  padding-right: 10px;
}
.Post_top {
  padding: 20px;
  display: flex;
}
.username {
  background-color: honeydew;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: medium;
}

h4 {
  margin: auto;
  padding: 10px;
  width: auto;
  text-align: center;
  font-size: 30px;
}
.Report_btn {
  color: white;
  padding-right: 30px;
  width: 55px;
  font-size: smaller;
  text-align: center;
  background-color: #2e81f4;
}
.Main_text {
  border-radius: 10px;
  background-color: white;
  margin: auto;
  padding: 10px;
  height: max-content;
  width: 90%;
  object-fit: contain;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 10px;
}
.cmd_btn {
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #2e81f4;
}
.dropdown-content {
  display: none;
}

.show {
  display: block;
}
/* @media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
} */
.codes {
  font-weight: normal;
  font-size: medium;
  text-align: left;
}
