.whole div {
  margin-top: 10px;
}
.post_top {
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin-left: 250px;
  display: flex;
  padding: 20px;
  background-color: #ddd;
}
.post_top div {
  padding-left: 20px;
}
.user {
  border: 0.25px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: honeydew;
}
.title {
  outline-width: 0;
  padding: 10 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  align-items: center;
  text-align: center;
  display: flex;
  flex: 1;
  /* padding-left: 20px; */
}
.title input {
  width: auto;
  border: 0.05px solid black;
  border-radius: 10px;
  text-align: center;
  flex: 1;
}
.contents {
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin-left: 250px;
  margin-top: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ddd;
}
.content_area {
  display: flex;
  margin-bottom: 10px;
}
.content_area input {
  margin-bottom: 0px;
  flex: 1;
  height: 50px;
}
.contents textarea {
  height: 200px;
  margin-top: 0px;
  border: 0.05px solid black;
  border-radius: 10px;
  flex: 1;
}
.file {
  color: white;
  background-color: #2e81f4;
  margin-top: 10px;
  margin-left: 260px;
}
.upload {
  color: white;
  background-color: #2e81f4;
  margin-top: 10px;
  position: absolute;
  right: 25px;
}
