.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  margin: auto;
  background-color: rgba(15, 102, 29, 0.733);
}
.profile_top {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile_item {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.profile_top > * {
  flex: 1;
  margin-right: 30px;
}

.profile_top > * > * {
  display: flex;
  align-items: center;
  height: 2em;
  width: 100%;
}
.profile_gradebook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.5em;
  background-color: #fcf8e3;
}
.profile_post {
  height: 150px;
}
.profile_comment {
  height: 150px;
}
.profile_upload {
  display: flex;
  justify-content: space-between;
}
.profile_roster_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #aaa;
  padding: 0.5em;
}
