body {
  font-family: Arial;
  padding: 20px;
  background-color: rgb(35, 89, 55);
}
.Singlepost {
  border-radius: 10px;
  background-color: #ddd;
  margin: auto;
  margin-left: 250px;
  align-items: center;
  height: max-content;
  border: 1px solid black;
  padding: 10px;
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 10px;
}
.Post_top {
  padding: 20px;
  display: flex;
}
.Post_top div {
  padding: 20px;
}
.username {
  background-color: honeydew;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: medium;
}

h4 {
  margin: auto;
  padding: 10px;
  width: auto;
  text-align: center;
  font-size: 30px;
}
.Report_btn {
  color: white;
  padding-right: 30px;
  width: 55px;
  font-size: smaller;
  text-align: center;
  background-color: #2e81f4;
}
.Main_text {
  border-radius: 10px;
  background-color: white;
  margin: auto;
  padding: 10px;
  height: max-content;
  width: 90%;
  object-fit: contain;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 10px;
}
.cmd_btn {
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #2e81f4;
}
.dropdown-content {
  display: none;
}

.show {
  display: block;
}
/* @media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
} */
.codes {
  font-weight: normal;
  font-size: medium;
  text-align: left;
}

.wholeComment div {
  margin-top: 10px;
}
.post_topComment {
  border: 0.5px solid black;
  height: 65px;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin: auto;
  display: flex;
  padding: 20px;
  background-color: #ddd;
}
.post_topComment div {
  margin-bottom: 10px;
  padding-left: 20px;
}
.Commentuser {
  width: fit-content;
  height: fit-content;
  border: 0.25px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-bottom: 10px;
  background-color: honeydew;
  font-size: medium;
}
.Commenttitle {
  outline-width: 0;
  padding: 10 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex: 1;
  /* padding-left: 20px; */
}
.Commenttitle input {
  width: auto;
  border: 0.05px solid black;
  border-radius: 10px;
  text-align: center;
  flex: 1;
}
.Commentcontents {
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin-left: 0px;
  margin-top: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ddd;
}
.Commentcontent_area {
  display: flex;
  margin-bottom: 10px;
}
.Commentcontent_area input {
  margin-bottom: 0px;
  flex: 1;
  height: 50px;
}
.Commentcontents textarea {
  height: 200px;
  margin-top: 0px;
  border: 0.05px solid black;
  border-radius: 10px;
  flex: 1;
}
.Commentfile {
  color: white;
  background-color: #2e81f4;
  margin-top: 10px;
  margin-left: 0px;
}
.Commentupload {
  color: white;
  background-color: #2e81f4;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 25px;
}
.Comment_top {
  padding: 20px;
  display: flex;
}
.comments {
  padding: 20px;
  display: flex;
}
.comment_btn {
  margin-left: 0px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}
.Report_btn_cmt {
  color: white;
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
  font-size: smaller;
  text-align: center;
  background-color: #2e81f4;
}
.Main_text_cmt {
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  padding: 10px;
  height: max-content;
  width: 90%;
  object-fit: contain;
  border: 2px solid black;
  text-align: center;
}
.comment {
  border-radius: 10px;
  background-color: #ddd;
  margin: auto;
  align-items: center;
  height: fit-content;
  border: 1px solid black;
  margin-top: 5px;
}
.Comment_section {
  border-radius: 10px;
  background-color: #ddd;
  margin: auto;
  padding: 20px;
  margin-left: 250px;
  align-items: center;
  height: max-content;
  border: 1px solid black;
}
